-- Kiểm tra tất cả đơn đăng ký
SELECT dk.ID_DANG_KY, 
       dk.MA_DANG_KY,
       dk.TRANG_THAI,
       dk.NGAY_DANG_KY,
       dk.NGAY_DUYET,
       dk.ID_HOC_VIEN,
       dk.ID_LOP_HOC,
       dk.ID_NHAN_VIEN_DUYET,
       hv.HO_TEN as TEN_HOC_VIEN,
       lh.TEN_LOP_HOC
FROM DON_DANG_KY dk
LEFT JOIN HOC_VIEN hv ON hv.ID_HOC_VIEN = dk.ID_HOC_VIEN
LEFT JOIN LOP_HOC lh ON lh.ID_LOP_HOC = dk.ID_LOP_HOC
ORDER BY dk.ID_DANG_KY DESC
FETCH FIRST 10 ROWS ONLY;

-- Kiểm tra các trạng thái khác nhau
SELECT TRANG_THAI, COUNT(*) as SO_LUONG
FROM DON_DANG_KY 
GROUP BY TRANG_THAI;

-- Kiểm tra đơn đăng ký của user hiện tại (nếu đăng nhập bằng user học viên)
SELECT dk.ID_DANG_KY, 
       dk.MA_DANG_KY,
       dk.TRANG_THAI,
       dk.NGAY_DANG_KY,
       tk.TEN_DANG_NHAP
FROM DON_DANG_KY dk
JOIN HOC_VIEN hv ON hv.ID_HOC_VIEN = dk.ID_HOC_VIEN
LEFT JOIN TAI_KHOAN tk ON tk.ID_NGUOI_DUNG = hv.ID_HOC_VIEN
ORDER BY dk.ID_DANG_KY DESC;
